<section class="advertisement">
  <div class="bontainer">
    <h2 class="advertisement-title">
      Top <span class="advertisement-title-span">sellers</span>
    </h2>
    <ul class="advertisement-list">
      <li class="advertisement-item">
        <div class="advertisement-img-box">
          <img
            srcset="
              /img/advertisement/chocolate_with_nuts.jpg    1x,
              /img/advertisement/chocolate_with_nuts-2x.jpg 2x
            "
            src="/img/advertisement/chocolate_with_nuts.jpg"
            alt="chocolate_with_nuts"
            class="advertisement-img"
          />
          <img
            srcset="
              /img/advertisement/chocolate_with_nuts-overlay.jpg    1x,
              /img/advertisement/chocolate_with_nuts-2x-overlay.jpg 2x
            "
            src="/img/advertisement/chocolate_with_nuts-overlay.jpg"
            alt="chocolate_with_nuts-overlay"
            class="advertisement-img-overlay"
          />
          <p class="advertisement-text-overlay">
            Chocolate with nuts is an incredible combination of two taste
            pleasures. When delicate and silky chocolate meets crunchy and tasty
            nuts, a real culinary pleasure arises.
          </p>
        </div>
        <h3 class="advertisement-subtitle">chocolate with nuts</h3>
      </li>
      <li
        class="advertisement-item advertisement-item-invisible-table advertisement-item-invisible-tesctop"
      >
        <div class="advertisement-img-box">
          <img
            srcset="
              /img/advertisement/chocolate_with_fruits.jpg    1x,
              /img/advertisement/chocolate_with_fruits-2x.jpg 2x
            "
            src="/img/advertisement/chocolate_with_fruits.jpg"
            alt="chocolate_with_fruits"
            class="advertisement-img"
          />
          <img
            srcset="
              /img/advertisement/chocolate_with_fruits-overlay.jpg    1x,
              /img/advertisement/chocolate_with_fruits-2x-overlay.jpg 2x
            "
            src="/img/advertisement/chocolate_with_nuts-overlay.jpg"
            alt="chocolate_with_fruits-overlay"
            class="advertisement-img-overlay"
          />
          <p class="advertisement-text-overlay">
            Chocolate with fruit is an unbeatable combination of two of the
            tastiest things in the world. This dessert combines delicate and
            aromatic chocolate with fresh and juicy fruits, creating a true
            poetry of taste.
          </p>
        </div>
        <h3 class="advertisement-subtitle">chocolate with fruits</h3>
      </li>
      <li
        class="advertisement-item advertisement-item-invisible advertisement-item-invisible-tesctop"
      >
        <div class="advertisement-img-box">
          <img
            srcset="
              /img/advertisement/dark_chocolate.jpg    1x,
              /img/advertisement/dark_chocolate-2x.jpg 2x
            "
            src="/img/advertisement/dark_chocolate.jpg"
            alt="dark_chocolate"
            class="advertisement-img"
          />
          <img
            srcset="
              /img/advertisement/dark_chocolate-overlay.jpg    1x,
              /img/advertisement/dark_chocolate-2x-overlay.jpg 2x
            "
            src="/img/advertisement/dark_chocolate-overlay.jpg"
            alt="dark_chocolate-overlay"
            class="advertisement-img-overlay"
          />
          <p class="advertisement-text-overlay">
            Dark chocolate is a rich and indulgent treat that is beloved by many
            chocolate enthusiasts. It is made from cocoa beans, which are
            roasted, ground, and then processed to produce chocolate liquor.
            Dark chocolate contains a higher percentage of cocoa solids compared
            to milk chocolate.
          </p>
        </div>
        <h3 class="advertisement-subtitle">dark chocolate</h3>
      </li>
    </ul>
  </div>
</section>
