<section class="catalog">
  <div class="container">
    <h2 class="catalog-title">
      Our <span class="catalog-title-span">products</span>
    </h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <img
          srcset="/img/catalog/orange.webp 1x, /img/catalog/orange-2x.webp 2x"
          src="/img/catalog/orange.webp"
          alt="orange"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">orange</h3>
        <p class="catalog-text">Dark chocolate</p>
        <button class="catalog-button" type="button">45 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="
            /img/catalog/apple&cranberry.webp    1x,
            /img/catalog/apple&cranberry-2x.webp 2x
          "
          src="/img/catalog/apple&cranberry.webp"
          alt="apple&cranberry"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">apple&cranberry</h3>
        <p class="catalog-text">Milk chocolate</p>
        <button class="catalog-button" type="button">50 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="
            /img/catalog/lime&sea_salt.webp    1x,
            /img/catalog/lime&sea_salt-2x.webp 2x
          "
          src="/img/catalog/lime&sea_salt.webp"
          alt="lime&sea_salt"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">lime&sea salt</h3>
        <p class="catalog-text">Dark chocolate</p>
        <button class="catalog-button" type="button">66 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="
            /img/catalog/pineapple.webp    1x,
            /img/catalog/pineapple-2x.webp 2x
          "
          src="/img/catalog/pineapple.webp"
          alt="pineapple"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">pineapple</h3>
        <p class="catalog-text">Dark chocolate</p>
        <button class="catalog-button" type="button">54 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="/img/catalog/classic.webp 1x, /img/catalog/classic-2x.webp 2x"
          src="/img/catalog/classic.webp"
          alt="classic"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">classic</h3>
        <p class="catalog-text">Milk chocolate</p>
        <button class="catalog-button" type="button">45 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="/img/catalog/honey.webp 1x, /img/catalog/honey-2x.webp 2x"
          src="/img/catalog/honey.webp"
          alt="honey"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">honey</h3>
        <p class="catalog-text">Milk chocolate</p>
        <button class="catalog-button" type="button">50 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="
            /img/catalog/roasted_fruits.webp    1x,
            /img/catalog/roasted_fruits-2x.webp 2x
          "
          src="/img/catalog/roasted_fruits.webp"
          alt="roasted_fruits"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">roasted fruits</h3>
        <p class="catalog-text">Dark chocolate</p>
        <button class="catalog-button" type="button">66 UAH</button>
      </li>
      <li class="catalog-item">
        <img
          srcset="
            /img/catalog/classic_white.webp    1x,
            /img/catalog/classic_white-2x.webp 2x
          "
          src="/img/catalog/classic_white.webp"
          alt="classic_white"
          class="catalog-img"
          width="230px"
        />
        <h3 class="catalog-chocjlate-title">classic</h3>
        <p class="catalog-text">White chocolate</p>
        <button class="catalog-button" type="button">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
