<footer id="to_footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item">
        <h2 class="footer-title">
          Chocolate
          <span class="footer-title-span">a delicious cure for a bad day</span>
        </h2>
      </li>
      <li class="footer-item footer-item-right">
        <p class="footer-contacts">Contact us</p>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a href="tel:+380684439426" class="footer-contacts-item-text"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              href="mailto:simplychoc@gmail.com"
              class="footer-contacts-item-text"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
      </li>
      <li class="footer-item">
        <p class="footer-social-networks">Social networks</p>
        <ul class="footer-social-networks-list">
          <li class="footer-social-networks-item">
            <a
              href="https://uk-ua.facebook.com/"
              class="footer-social-networks-link"
              target="_blank"
            >
              <svg class="footer-social-networks-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-networks-item">
            <a
              href="https://www.instagram.com/"
              class="footer-social-networks-link"
              target="_blank"
            >
              <svg class="footer-social-networks-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-networks-item">
            <a
              href="https://x.com/?lang=ru"
              class="footer-social-networks-link"
              target="_blank"
            >
              <svg class="footer-social-networks-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom-wrapper">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="index.html" class="footer-nav-text" target="_blank"
              >Home</a
            >
          </li>
          <li class="footer-nav-item">
            <a href="#to_made" class="footer-nav-text" target="_blank"
              >How it’s made?</a
            >
          </li>
          <li class="footerr-nav-item">
            <a href="#to_reviews" class="footer-nav-text" target="_blank"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>
      <form
        name="footer-email"
        autocomplete="on"
        class="footer-email"
        placeholder="Enter your email"
      >
        <input
          type="email"
          id="footer-email"
          class="footer-email-input"
          placeholder="Enter your email"
          required
        />
        <button type="button" class="footer-button">Subscribe</button>
      </form>
    </div>
  </div>
</footer>
