<header>
  <section class="container">
    <div class="header-wrapper">
      <a href="index.html" class="header-logo"
        >Simply chocolate
        <svg class="header-logo-svg" width="24" height="24">
          <use href=""></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <p class="header-nav-text">Home</p>
          </li>
          <li class="header-nav-item">
            <p class="header-nav-text">How it’s made?</p>
          </li>
          <li class="header-nav-item">
            <p class="header-nav-text">Chocolate is loved</p>
          </li>
        </ul>
      </nav>
      <ul class="header-social">
        <li class="header-social-network">
          <svg class="header-social-network-svg">
            <use href="" class="header-social-network-use"></use>
          </svg>
        </li>
        <li class="header-social-network">
          <svg class="header-social-network-svg">
            <use href="" class="header-social-network-use"></use>
          </svg>
        </li>
        <li class="header-social-network">
          <svg class="header-social-network-svg">
            <use href="" class="header-social-network-use"></use>
          </svg>
        </li>
      </ul>
    </div>
  </section>
</header>
