<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h2 class="hero-name">Hero</h2>
      <p class="hero-text">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <ul class="hero-list">
        <li class="hero-item">
          <a href="#to_catalog" class="hero-link">Buy now</a>
        </li>
        <li class="hero-item-two">
          <a href="#to_made" class="hero-link">How it’s made</a>
        </li>
        <li class="hero-item-three">
          <a href="#to_footer" class="hero-link-three"
            >scroll down
            <span class="span-hero-link-svg">
              <svg class="hero-link-svg" width="28" height="28">
                <use href="/img/icons.svg#icon-fi-rr-angle-small-left"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
