<section class="made">
  <div class="container">
    <h2 class="made-title">
      How it’s <span class="made-span-title">made?</span>
    </h2>
    <div class="made-wrapper">
      <div class="made-picture-wrapper">
        <picture class="made-picture">
          <source
            srcset="
              /img/made/made-desctop.jpg    1x,
              /img/made/made-desctop-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/made/made-tab.jpg 1x, /img/made/made-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/made/made-mobile.jpg    1x,
              /img/made/made-mobile-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/made/made-mobile.jpg"
            alt="made-chocolate"
            min-width="320px"
          />
        </picture>
        <svg class="made-picture-svg" width="35" height="35">
          <use href="/img/icons.svg#icon-play"></use>
        </svg>
      </div>
      <div class="made-text">
        <h3 class="made-text-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made-text-list">
          <li class="made-text-item">
            <svg class="made-text-svg" width="8" height="8">
              <use href="/img/icons.svg#icon-Ellipse-1"></use>
            </svg>
            <p class="made-text-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="made-text-item">
            <svg class="made-text-svg" width="8" height="8">
              <use href="/img/icons.svg#icon-Ellipse-1"></use>
            </svg>
            <p class="made-text-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="made-text-item">
            <svg class="made-text-svg" width="8" height="8">
              <use href="/img/icons.svg#icon-Ellipse-1"></use>
            </svg>
            <p class="made-text-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="made-text-item">
            <svg class="made-text-svg" width="8" height="8">
              <use href="/img/icons.svg#icon-Ellipse-1"></use>
            </svg>
            <p class="made-text-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="made-text-item">
            <svg class="made-text-svg" width="8" height="8">
              <use href="/img/icons.svg#icon-Ellipse-1"></use>
            </svg>
            <p class="made-text-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
