<section class="products">
  <div class="container">
    <div class="products-title-wrapper">
      <h2 class="products-title">
        It all adds up to one exceptional
        <span class="products-title-span">taste</span> sensation
      </h2>
    </div>
    <ul class="products-list">
      <li class="products-item">
        <svg class="products-item-svg" width="24" height="24">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="
              /img/products/milk-chocolate-desctop.webp    1x,
              /img/products/milk-chocolate-desctop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products/milk-chocolate.webp    1x,
              /img/products/milk-chocolate-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/products/milk-chocolate.webp"
            alt="milk-chocolate"
            width="236"
          />
        </picture>
        <p class="products-item-text">Milk chocolate</p>
      </li>
      <li class="products-item">
        <svg class="products-item-svg" width="24" height="24">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="/img/products/milk.webp 1x, /img/products/milk-2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/products/milk.webp 1x, /img/products/milk-2x.webp 2x"
            media="(min-width: 320px)"
          />
          <img src="/img/products/milk.webp" alt="milk" width="236" />
        </picture>
        <p class="products-item-text">Milk</p>
      </li>
      <li class="products-item">
        <svg class="products-item-svg" width="24" height="24">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="/img/products/nuts.webp 1x, /img/products/nuts-2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/products/nuts.webp 1x, /img/products/nuts-2x.webp 2x"
            media="(min-width: 320px)"
          />
          <img src="/img/products/nuts.webp" alt="nuts" width="236" />
        </picture>
        <p class="products-item-text">Nuts</p>
      </li>
      <li class="products-item">
        <svg class="products-item-svg" width="24" height="24">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="
              /img/products/semi-sweet_chocolate.webp    1x,
              /img/products/semi-sweet_chocolate-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products/semi-sweet_chocolate.webp 1x,
              /img/products/semi-sweet_chocolate.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/products/semi-sweet_chocolate.webp"
            alt="semi-sweet_chocolate"
            width="236"
          />
        </picture>
        <p class="products-item-text">Semi - sweet chocolate</p>
      </li>
      <li class="products-item products-item-display-none">
        <svg class="products-item-svg" width="24" height="24">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="/img/products/cacao.webp 1x, /img/products/cacao-2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/products/cacao.webp 1x, /img/products/cacao-2x.webp 2x"
            media="(min-width: 320px)"
          />
          <img src="/img/products/cacao.webp" alt="cacao" width="236" />
        </picture>
        <p class="products-item-text visually-hidden">Cacao</p>
      </li>
      <li class="products-item products-item-display-none">
        <svg class="products-item-svg" width="24" height="24">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="
              /img/products/raspberry.webp    1x,
              /img/products/raspberry-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products/raspberry.webp    1x,
              /img/products/raspberry-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img src="/img/products/raspberry.webp" alt="raspberry" width="236" />
        </picture>
        <p class="products-item-text visually-hidden">Raspberry</p>
      </li>
      <li class="products-item products-item-display-none">
        <svg width="24" height="24" class="products-item-svg">
          <use href="/img/icons.svg#icon-Group"></use>
        </svg>
        <picture class="products-picture">
          <source
            srcset="
              /img/products/coconut-oil.webp    1x,
              /img/products/coconut-oil-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products/coconut-oil.webp    1x,
              /img/products/coconut-oil-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/products/coconut-oil.webp"
            alt="coconut-oil"
            width="236"
          />
        </picture>
        <p class="products-item-text visually-hidden">Coconut oil</p>
      </li>
    </ul>
  </div>
</section>
