
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/team-proj-113/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <title>Watchcharm</title>
  </head>
  <body>
    <section class="section-reviews">
        <div class="container">
          <h3 class="section-title">Reviews</h3>
          <div class="reviews-name">
            <ul class="reviews-list">
              <li class="reviews-list-item">
                <img
                 src="/img/reviews/Jon-2x.webp"
                 width="56"
                 height="56"
                 alt="Photo John Wax"
               />
                <h3 class="reviews-item-title">John Wax</h3>
                <p class="reviews-text">
                  Buying a watch from was the best choice for me. The design is
                  perfectly combined with high quality materials. The strap fits
                  nicely on the hand, and the mechanism works flawlessly.
                </p>
              </li>
              <li class="reviews-list-item">
                <img
                srcset="/src/img/reviews/vic-1x.webp 1x, /src/img/reviews/vic-2x.webp 2x"
                 src="/src/img/reviews/vic-1x.webp"
                 width="56"
                 height="56"
                 alt="Photo Victoria Romashenko"
               />
                <h3 class="reviews-item-title">Victoria Romashenko</h3>
                <p class="reviews-text">
                  Can't take my eyes off my watch from. Every time I put it on, it
                  is admired by those around me. The build quality and attention
                  to detail make it a real gem among my accessories.
                </p>
              </li>
              <li class="reviews-list-item">
                <img
                srcset="/src/img/reviews/an-2x.webp 1x, /src/img/reviews/an-2x.webp 2x"
                 src="/src/img/reviews/an-2x.webp"
                 width="56"
                 height="56"
                 alt="Photo Anastasia Trachuk"
               />
                <h3 class="reviews-item-title">Anastasia Trachuk</h3>
                <p class="reviews-text">
                  My watch from is a real masterpiece. Every detail impresses with
                  the high quality of execution. Special features like [specify
                  features] make it an indispensable companion in my daily life.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
  </body>
</html>
