.section-third {
    text-align: left;
    background-color: #FBFBFB;
    padding: 100px 0;
}
.section-title {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0C0C0C;
}
.reviews-item-title {
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0C0C0C;
}
.reviews-text {
    font-family: Gilroy,;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}
.reviews-list {
    display: flex;
}
/* Скрываем элементы списка на экранах меньше 768px */
@media (max-width: 768px) {
    .reviews-list-item:nth-child(2), /* Скрыть третий элемент */
    .reviews-list-item:nth-child(3) { /* Скрыть четвертый элемент */
      display: none;
    }
  }
  