section-reviews {
    max-width: 320px;
    min-width: 374px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.reviews-img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 24px;
    border-radius: 100%;
    border-color: #fbfbfb;
    border-width: 2px;
  }
.section-title {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0C0C0C;
     margin-bottom: 24px; /* Расстояние между заголовком и карточками */
 }
.reviews-item-title {
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0C0C0C;
}
.reviews-text {
    font-family: Gilroy,;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
    margin-bottom: 32px;
    margin-top: 8px;
}
.reviews-list {
    display: flex;
    list-style: none;
}
.reviews-list-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует элементы внутри карточки */
    /* Центрирует текст внутри карточки */
  }
/* Скрываем элементы списка на экранах меньше 768px */
@media screen and (max-width: 767px) {
    .reviews-list-item:nth-child(2), /* Скрыть третий элемент */
    .reviews-list-item:nth-child(3) { /* Скрыть четвертый элемент */
      display: none;
    }
  .reviews-list-item {
    list-style: none;
    background-color: #F3F3F3;
    flex-direction: column;
    border-radius:30px;
    padding: 32px 36px 32px 36px;
    max-width: 335px;
    margin: 0;
    padding: 0;
  }
  }

  @media screen and (min-width: 768px)and (max-width: 1279px)  {


  @media screen and (max-width: 768px) {
    .reviews-list-item {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px)
{
    .reviews-list-item {
        min-width: 344px;
        min-height: 272px; 
    }
}

@media screen and (max-width: 1280px) {
    .reviews-list-item {
        width: 370px;
        
    }
    .reviews-name {
        width: 1150px;
    }
    .reviews-text {
        max-width: 298px;
          
    }
    .section-reviews {
        margin-top: 40px; /* Отступ снизу от Reviews */
      }
      .reviews-list {
        gap: 20px;
        justify-content: center;
      }
}

@media screen and (min-width: 768px){
   .reviews-text { 
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      text-align: center;
      color: rgba(12, 12, 12, 0.4); 
      }
    }
